<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
	Hello world
            <div class="ff1">CARRIER</div>
            <div class="ff2">{{carrier_name}}</div>
	        <div class="ff2">{{carrier_address_1}}</div>
            <div class="ff2">{{carrier_address_2}}</div>
            <div class="ff2">{{carrier_city}}, {{carrier_state}} {{carrier_zip}}</div> -->
            <div class="ff2">{{carrier_phone}}</div>
            &nbsp;
            <div class="ff1">ORIGIN*</div>
            <div class="ff2">{{origin}}</div>
            &nbsp;
            <div class="ff1">DESTINATION*</div>
            <div class="ff2">{{destination}}</div>
            &nbsp;
            <div class="ff1">LOAD</div>
            <div class="ff2">{{load}}</div>
            &nbsp;
            <div>*Full address detail available upon electronically signing the rate agreement</div>
            <div class="ff1">NET AMOUNT</div>
            <div class="ff1">{{net_amount}}</div>
            &nbsp;
            <div class="ff1">FEE AMOUNT</div>
            <div class="ff1">{{fee_amount}}</div>
            &nbsp;
            <div class="ff1">UNITS</div>
            <div class="ff2">{{units}}</div>
            &nbsp;
            <div class="ff1">TARGET PICKUP</div>
            <div class="ff2">{{target_pickup}}</div>
            &nbsp;
            <div class="ff1">PAYMENT TYPE AND TERMS</div>
            <div class="ff2">{{payment_type_terms}}</div>
</body>